<a href="https://colab.research.google.com/github/priyaa1903/python-programming-II/blob/main/Week_5(Python_Programming_II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON PROGRAMMING

WEEK 5

Name: Priya Moolya

Roll no: 43

Class: SY EXTC-A

In [ ]:
pwd

'/content'

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
df = pd.read_excel("/content/Dress Sales (1).xlsx")
df

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1.006033e+09,2114.0,2274.0,2491.0,2660.0,2727.0,2887.0,2930.0,3119.0,3204.0,...,3554.0,3624.0,3706.0,3746.0,3795.0,3832.0,3897.0,3923.0,3985.0,4048.0
1,1.212192e+09,151.0,275.0,570.0,750.0,813.0,1066.0,1164.0,1558.0,1756.0,...,2710.0,2942.0,3258.0,3354.0,3475.0,3654.0,3911.0,4024.0,4125.0,4277.0
2,1.190381e+09,6.0,7.0,7.0,7.0,8.0,8.0,9.0,10.0,10.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
3,9.660060e+08,1005.0,1128.0,1326.0,1455.0,1507.0,1621.0,1637.0,1723.0,1746.0,...,1878.0,1892.0,1914.0,1924.0,1929.0,1941.0,1952.0,1955.0,1959.0,1963.0
4,8.763395e+08,996.0,1175.0,1304.0,1396.0,1432.0,1559.0,1570.0,1638.0,1655.0,...,2032.0,2156.0,2252.0,2312.0,2387.0,2459.0,2544.0,2614.0,2693.0,2736.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,7.133920e+08,0.0,0.0,0.0,560.0,554.0,544.0,537.0,525.0,519.0,...,400.0,388.0,360.0,364.0,372.0,377.0,380.0,382.0,384.0,285.0
496,7.225651e+08,0.0,0.0,0.0,875.0,866.0,861.0,854.0,850.0,844.0,...,859.0,866.0,882.0,888.0,895.0,898.0,906.0,913.0,919.0,931.0
497,5.328743e+08,0.0,0.0,0.0,734.0,728.0,726.0,715.0,694.0,690.0,...,616.0,597.0,586.0,569.0,561.0,555.0,551.0,546.0,535.0,520.0
498,6.554649e+08,0.0,0.0,0.0,254.0,259.0,261.0,263.0,268.0,270.0,...,257.0,256.0,255.0,254.0,253.0,250.0,249.0,249.0,249.0,248.0
499,9.199310e+08,0.0,0.0,0.0,538.0,545.0,558.0,563.0,578.0,585.0,...,628.0,632.0,639.0,645.0,651.0,655.0,660.0,668.0,674.0,680.0

In [ ]:
df1= pd.read_excel('/content/Attribute DataSet (1).xlsx')
df1.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1.006033e+09,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1.0
1,1.212192e+09,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0.0
2,1.190381e+09,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0.0
3,9.660060e+08,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1.0
4,8.763395e+08,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0.0

In [ ]:
df = pd.read_excel(r"/content/Attribute DataSet (1).xlsx")
type(df)
print(df)

         Dress_ID    Style    Price  Rating  Size  Season   NeckLine  \
0    1.006033e+09     Sexy      Low     4.6     M  Summer     o-neck
1    1.212192e+09   Casual      Low     0.0     L  Summer     o-neck
2    1.190381e+09  vintage     High     0.0     L  Automn     o-neck
3    9.660060e+08    Brief  Average     4.6     L  Spring     o-neck
4    8.763395e+08     cute      Low     4.5     M  Summer     o-neck
..            ...      ...      ...     ...   ...     ...        ...
495  7.133920e+08   Casual      Low     4.7     M  Spring     o-neck
496  7.225651e+08     Sexy      Low     4.3  free  Summer     o-neck
497  5.328743e+08   Casual  Average     4.7     M  Summer     v-neck
498  6.554649e+08   Casual  Average     4.6     L  winter  boat-neck
499  9.199310e+08   Casual      Low     4.4  free  Summer     v-neck

    SleeveLength waiseline       Material  FabricType  Decoration  \
0      sleevless    empire            NaN     chiffon     ruffles
1          Petal   natural     microfiber         NaN     ruffles
2           full   natural       polyster         NaN         NaN
3           full   natural           silk     chiffon  embroidary
4      butterfly   natural  chiffonfabric     chiffon         bow
..           ...       ...            ...         ...         ...
495         full   natural       polyster         NaN         NaN
496         full    empire         cotton         NaN         NaN
497         full    empire         cotton         NaN        lace
498    sleevless    empire           silk  broadcloth    applique
499        short    empire         cotton    Corduroy        lace

    Pattern Type  Recommendation
0         animal             1.0
1         animal             0.0
2          print             0.0
3          print             1.0
4            dot             0.0
..           ...             ...
495        solid             1.0
496          NaN             0.0
497        solid             1.0
498        print             1.0
499        solid             0.0

[500 rows x 14 columns]

In [ ]:
 pd.read_excel(r"/content/Attribute DataSet (1).xlsx" , sheet_name="Sheet1", header = None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852.0,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1.0
2,1212192089.0,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0.0
3,1190380701.0,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0.0
4,966005983.0,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,713391965.0,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1.0
497,722565148.0,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0.0
498,532874347.0,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1.0
499,655464934.0,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1.0
500,919930954.0,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0.0

In [ ]:
 pd.read_excel(r"/content/Attribute DataSet (1).xlsx" , sheet_name="Sheet1", header = None, names = ['A','B','C','D','E','F'])

,,,,,,,,A,B,C,D,E,F
Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1006032852.0,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1.0
1212192089.0,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0.0
1190380701.0,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0.0
966005983.0,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
713391965.0,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1.0
722565148.0,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0.0
532874347.0,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1.0
655464934.0,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1.0
919930954.0,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0.0

In [ ]:
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1.006033e+09,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1.0
1,1.212192e+09,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0.0
2,1.190381e+09,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0.0
3,9.660060e+08,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1.0
4,8.763395e+08,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0.0

In [ ]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965.0,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1.0
496,722565148.0,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0.0
497,532874347.0,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1.0
498,655464934.0,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1.0
499,919930954.0,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0.0

In [ ]:
df1=pd.read_csv('/content/haberman.csv')
df1

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [ ]:
pd.read_csv('haberman.csv',names=['Age of patient','Patient year od operation', 'Number','Survival status'])

     Age of patient  Patient year od operation  Number  Survival status
0                30                         64       1                1
1                30                         62       3                1
2                30                         65       0                1
3                31                         59       2                1
4                31                         65       4                1
..              ...                        ...     ...              ...
301              75                         62       1                1
302              76                         67       0                1
303              77                         65       3                1
304              78                         65       1                2
305              83                         58       2                2

[306 rows x 4 columns]

In [ ]:
pd.read_csv('haberman.csv')

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [ ]:
pd.read_csv('haberman.csv',sep='@')

      30,64,1,1
0     30,62,3,1
1     30,65,0,1
2     31,59,2,1
3     31,65,4,1
4    33,58,10,1
..          ...
300   75,62,1,1
301   76,67,0,1
302   77,65,3,1
303   78,65,1,2
304   83,58,2,2

[305 rows x 1 columns]

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [ ]:
df['Recommendation']

0      1.0
1      0.0
2      0.0
3      1.0
4      0.0
      ...
495    1.0
496    0.0
497    1.0
498    1.0
499    0.0
Name: Recommendation, Length: 500, dtype: float64

In [ ]:
df[['Rating','Recommendation','Style']]

     Rating  Recommendation    Style
0       4.6             1.0     Sexy
1       0.0             0.0   Casual
2       0.0             0.0  vintage
3       4.6             1.0    Brief
4       4.5             0.0     cute
..      ...             ...      ...
495     4.7             1.0   Casual
496     4.3             0.0     Sexy
497     4.7             1.0   Casual
498     4.6             1.0   Casual
499     4.4             0.0   Casual

[500 rows x 3 columns]

In [ ]:
df.describe()

           Dress_ID      Rating  Recommendation
count  5.000000e+02  500.000000      500.000000
mean   9.055417e+08    3.528600        0.420000
std    1.736190e+08    2.005364        0.494053
min    4.442820e+08    0.000000        0.000000
25%    7.673164e+08    3.700000        0.000000
50%    9.083296e+08    4.600000        0.000000
75%    1.039534e+09    4.800000        1.000000
max    1.253973e+09    5.000000        1.000000

In [ ]:
(df['Rating']>4.0) & (df['Style']== 'Casual')

0      False
1      False
2      False
3      False
4      False
       ...
495     True
496    False
497     True
498     True
499     True
Length: 500, dtype: bool

In [ ]:
df.loc[0:10, ['Dress_ID', 'Style','Price','Rating']]

        Dress_ID     Style    Price  Rating
0   1.006033e+09      Sexy      Low     4.6
1   1.212192e+09    Casual      Low     0.0
2   1.190381e+09   vintage     High     0.0
3   9.660060e+08     Brief  Average     4.6
4   8.763395e+08      cute      Low     4.5
5   1.068332e+09  bohemian      Low     0.0
6   1.220707e+09    Casual  Average     0.0
7   1.219677e+09   Novelty  Average     0.0
8   1.113094e+09     Flare  Average     0.0
9   9.852927e+08  bohemian      Low     0.0
10  1.117294e+09     party  Average     5.0

In [ ]:
df.iloc[0:5,1:7]

     Style    Price  Rating Size  Season NeckLine
0     Sexy      Low     4.6    M  Summer   o-neck
1   Casual      Low     0.0    L  Summer   o-neck
2  vintage     High     0.0    L  Automn   o-neck
3    Brief  Average     4.6    L  Spring   o-neck
4     cute      Low     4.5    M  Summer   o-neck

In [ ]:
df.dtypes

Dress_ID          float64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
waiseline          object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation    float64
dtype: object

In [ ]:
df2=df[df.dtypes[(df.dtypes == 'float64') | (df.dtypes == 'int64')] .index]
df2

         Dress_ID  Rating  Recommendation
0    1.006033e+09     4.6             1.0
1    1.212192e+09     0.0             0.0
2    1.190381e+09     0.0             0.0
3    9.660060e+08     4.6             1.0
4    8.763395e+08     4.5             0.0
..            ...     ...             ...
495  7.133920e+08     4.7             1.0
496  7.225651e+08     4.3             0.0
497  5.328743e+08     4.7             1.0
498  6.554649e+08     4.6             1.0
499  9.199310e+08     4.4             0.0

[500 rows x 3 columns]

In [ ]:
data5 = {'emp_id':[101,102,103,104],
        'salary':[12,45,53,45],
        'providentfund':[12312,3432,234,535]}
df5 = pd.DataFrame(data5)
print(df5)

   emp_id  salary  providentfund
0     101      12          12312
1     102      45           3432
2     103      53            234
3     104      45            535

In [ ]:
data6 = {'emp_id': [101,102,103,104],
       'mobile_no':[12321,3423,2432,2412],
       'house_no':[12312,234,2344,123]}
df6 = pd.DataFrame(data6)
print(df6)

   emp_id  mobile_no  house_no
0     101      12321     12312
1     102       3423       234
2     103       2432      2344
3     104       2412       123

In [ ]:
a=pd.merge(df5,df6)
print(a)

   emp_id  salary  providentfund  mobile_no  house_no
0     101      12          12312      12321     12312
1     102      45           3432       3423       234
2     103      53            234       2432      2344
3     104      45            535       2412       123

In [ ]:
pd.merge(df6,df5, how = 'left')

   emp_id  mobile_no  house_no  salary  providentfund
0     101      12321     12312      12          12312
1     102       3423       234      45           3432
2     103       2432      2344      53            234
3     104       2412       123      45            535

In [ ]:
pd.merge(df6,df5, how = 'right')

   emp_id  mobile_no  house_no  salary  providentfund
0     101      12321     12312      12          12312
1     102       3423       234      45           3432
2     103       2432      2344      53            234
3     104       2412       123      45            535